@import "./../../styles/variables";

.test_details_wrapper {
  margin: 3rem 0;
  .test_details_container {
    box-shadow: 0px 0px 5px #e3e3e3;
    padding: 2rem;
    border-radius: 6px;
    .test_details_text {
      h2 {
        color: $primary-color;
        margin-bottom: 1.8rem;
      }
      p {
        color: $text-secondary;
      }
    }
    .input_fields {
      margin-bottom: 1.8rem;
    }
    .button_wrap {
      text-align: center;
      button {
        background-color: $primary-color;
        box-shadow: none;
        border: none;
        width: 35%;
      }
    }
    .test_contact_wrap {
      margin-top: 2rem;
      h4 {
        color: $primary-color;
        margin-bottom: 1.8rem;
      }
      .contact_number {
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 0px 5px #e3e3e3;
        padding: 1rem;
        border-radius: 6px;
        color: $text-secondary;
        cursor: pointer;
        &:hover {
          background-color: $primary-color;
          color: $white;
        }
        @media #{$sm} {
          margin-bottom: 1rem;
        }
        .contact_icon_wrap {
          font-weight: 500;
          svg {
            font-size: 22px;
          }
        }
      }
    }
  }
}
