@import "./../../styles/variables";

.our_services_wrapper {
  margin-bottom: 5rem;
  .our_services_image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .our_services_text {
    margin-left: 3rem;
    h6{
      color: rgb(12, 211, 12);
    }
    h2{
        margin-bottom: 2rem;
    }

    .services_list {
        ul {
            margin-bottom: 1rem;
            list-style-type: none;
            padding-left: 0rem;
            li {
              display: flex;
              // align-items: center;
              align-items: baseline;
              margin-bottom: 1.2rem;
              @media #{$sm} {
                text-align: justify;
              }
              &::before {
                content: "\21E8";
                color: $white;
                font-size: 18px;
                font-weight: bold;
                text-align: center;
                margin-right: 0.5rem;
                padding: .7rem;
                background-color: rgb(12, 211, 12);
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                height: 16px;
              }
            }
          }

     
    }
  }
}
