@import "./../../styles/variables";

.services_card_wrapper {
  box-shadow: 0px 0px 5px #d3d3d3;
  border-radius: 6px;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  cursor: pointer;
  margin-bottom: 1.8rem;
  &:hover {
    // background-color: #e3e3e3;
  }
  .services_card_image {
    width: 100%;
    height: 30vh;
    // border: 1px solid;
    border-radius: 50%;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
  }
  .services_card_text {
    text-align: center;
    h6 {
      color: $text-secondary;
      font-size: 16px;
    }
    .services_card_price {
      font-size: 16px;
      font-weight: 500;
      padding: 0.3rem 0.6rem;
      color: green;
      border: 1px solid green;
      display: inline-block;
      background-color: $white;
    }
  }
}
