@import './../../styles/variables';

.DNA_Labs_wrapper{
    margin: 5rem 0;
    h2{
        text-align: center;
    }
    .images_wrapper{
        width: 100%;
        height: 100%;
        text-align: center;
        margin-top: 2rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}